.navs
  %nav.row.navbar-wrapper.navbar-inverse.navbar-fixed-top{:role => "navigation"}
    .row.schedule
      .col-md-7
        %h3 Welcome to Crosmedica Medical Laboratory and Diagnostic Services!
      .col-md-5
        %h3 We are open from Monday to Saturday - 8:00 am - 7:00 pm
    / Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.ocllapsed{"data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
    / Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      .row.crosmedicanav
        .col-md-7
          = link_to root_path do
            = image_tag "cros4.png"
        .col-md-5.navcros
          %ul.nav.navbar-nav.my_nav
            %li
              = link_to "#firstPage" do
                HOME

            %li
              = link_to "#secondPage" do
                SERVICES

            %li
              = link_to "#thirdPage" do
                ABOUT
            %li
              = link_to "#fifthPage" do
                CONTACT