%div#firstPage
  .white
    %h4
      We are commited and motivated to provide the best for your health
    %div#auther
      CROSMEDICA MEDICAL LABORATORY AND DIAGNOSTIC SERVICES 
      %br
      will stand to be of service to the community with outmost 
      quality and standard as a highly reputable medical laboratory in the country.
      %br
      = link_to "FIND OUT MORE ABOUT US", "#thirdPage", class: "btn btn-success"
      = link_to "BOOK AN APPOINTMENT", "#", class: "btn btn-info"

    %div#down
      %a{:href => "#secondPage"}
        = image_tag "down.png"

%div#secondPage
  %h3 SERVICES



%div#thirdPage
  .black
    %h3 ABOUT US
    .row
      .col-md-1
      .col-md-5
        .ui.green.tag.label{:style => "margin-top: 1%;"}
          Company Profile
        %p{:style => "margin-top: 2%;"}
          The company was built through the partnership between two entrepreneurs 
          who consolidated their resources together and envisioned a service-oriented facility. 
          Considering that not both owners are in the medical field but with ardent dedication 
          and determination, a medical laboratory and diagnostic service clinic was conceived.
        %p
          In December, 2014, our competent medical staff put up CROSMEDICA 
          Medical Laboratory and Diagnostic Services in order to provide quality health care 
          service. The clinic ventured into outpatient hospital service and ambulatory 
          laboratory services.  The clinic is equipped with automated diagnostic machines 
          rendered by our well-trained medical staff and medical technologists.
        %p
          Our clientele is aimed to cater to the health and medical laboratory needs of 
          the community.  Though competition is vast and offers by the competitors are 
          tempting, the concept of service oriented total health and medical laboratory care 
          that is cost effective without compromising quality has been the main objective of 
          CROSMEDICA Medical Laboratory and Diagnostic Services.
        .ui.green.tag.label
          Quality Objectives
        .ui.bulleted.list
          .item
            To provide 95% or more customer satisfaction index in terms of quality and efficiency.
          .item
            To deliver prompt and accurate results within or less than 24 hours after completion and issuance of test results.
          .item
            To comply 100% to legal and regulatory requirements for medical and diagnostic services/clinics.
          .item
            To continuously detect opportunities for improvement and implement quality improvement activities.
      .col-md-1
      .col-md-4{:style => "margin-top: 2.5%;"}
        .ui.styled.accordion{:style => "margin-top: 3%; float: center;"}
          .active.title
            %i.dropdown.icon
            Mission
          .active.content
            .ui.centered.image
              = image_tag "mission.png"
            %p
              %b.ui.blue.header CROSMEDICA MEDICAL LABORATORY AND DIAGNOSTIC SERVICES 
              is a community–oriented and client-focused health facility providing quality medical 
              care and laboratory services for outpatient hospital and ambulatory laboratory 
              services.  We are committed with utmost dedication, care and compassion.
          .title
            %i.dropdown.icon
            Vision
          .content.vision
            .ui.centered.image
              = image_tag "vision.png"
            %p
              %b.ui.blue.header CROSMEDICA MEDICAL LABORATORY AND DIAGNOSTIC SERVICES
              will stand to be of service to the community with outmost quality and standard as a 
              highly reputable medical laboratory in the country.
          .title
            %i.dropdown.icon
            Quality Policy
          .content
            = image_tag "qp.jpg"
            %p{:style => "margin-top: 1%;"}
              We at 
              %b.ui.blue.header CROSMEDICA MEDICAL LABORATORY AND DIAGNOSTIC SERVICES 
              are totally committed to provide our customers the highest ideals of 
              quality healthcare and satisfaction at the most competitive rate.

            %p
              We shall seek to continually improve our services by acquisition of modern, 
              state of the art equipment, upgrading our facilities and maintaining a well-trained 
              medical and administrative staff because we care.
      .col-md-1


#fourthPage
  %h3 MEET OUR TEAM


#fifthPage
  %h3 CONTACT US
  .row.contact
    .col-md-3
    .col-md-2
      %h4 PHONE NUMBER
      %span.line1
      %span{:style =>"color: #9e9e9e;"}
        %br
        Monday -Friday 8:00am - 7:00 pm
        %br
        %br
        (02) 440-4665
        %br
        0943417741
    
    .col-md-2
      %h4 CLINIC ADDRESS
      %span.line1
      %span{:style =>"color: #9e9e9e;"}
        %br
        187-b2 Kalantiaw Street, Project 4, Quezon City
    .col-md-2
      %h4 EMAIL ADDRESS
      %span.line1
      %span{:style =>"color: #9e9e9e;"}
        %br
        crosmedicalabs@gmail.com
    .col-md-3
  .center
    %form.ui.form
      %h5 CONTACT FORM
      .field
        %label Name
        .field
          %input{:id => "name", :placeholder => "Name", :type => "text"}
      .field
        %label Email
        .field
          %input{:id => "email", :placeholder => "Email", :type => "text"}
      .field
        %label Message
        %textarea{:id => "message", :placeholder => "Message", :type => "text"}
      .ui.button{:id => "submit_form"} Submit
      
#footer
  .center
    %b CROSMEDICA MEDICAL LABORATORY AND DIAGNOSTIC DERVICES
    %br
    All Rights Reserved.
    %br
    %h4
      Powered by: 
      = link_to "http://www.cloudbandsolutions.com", target: "_blank" do 
        Cloudband Solutions, Co.
    



:javascript
  $(document).ready(function(){
    $('.ui.accordion')
      .accordion();
  });